In [69]:
import pickle 
import pandas as pd 
import json
import requests

In [216]:
tab = []
dic = {}
def convert1(df):
    for i, row in df.iterrows():
        dic[str(i)] = row.to_dict()
    return({"data" : dic})

In [217]:
tab = []
dic = {}
def convert(df):
    for i, row in df.iterrows():
        dic = "'"+ str(i)+ "'" + ":" + str(row.to_dict())
        tab.append(dic)
    test = "{" + ",".join(tab) + "}"
    dic = "{'data' :" +  test + "}"
    return(eval(dic))

In [218]:
convert1(df[:3])

{'data': {'0': {'season': 3.0,
   'holiday': 0.0,
   'workingday': 0.0,
   'weather': 4.0,
   'temp': 9.84,
   'atemp': 14.395,
   'humidity': 81.0,
   'windspeed': 0.0,
   'day': 1.0,
   'hour': 0.0,
   'year': 2011.0},
  '1': {'season': 3.0,
   'holiday': 0.0,
   'workingday': 0.0,
   'weather': 4.0,
   'temp': 9.02,
   'atemp': 13.635,
   'humidity': 80.0,
   'windspeed': 0.0,
   'day': 1.0,
   'hour': 1.0,
   'year': 2011.0},
  '2': {'season': 3.0,
   'holiday': 0.0,
   'workingday': 0.0,
   'weather': 4.0,
   'temp': 9.02,
   'atemp': 13.635,
   'humidity': 80.0,
   'windspeed': 0.0,
   'day': 1.0,
   'hour': 2.0,
   'year': 2011.0}}}

In [207]:
df

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,day,hour,year
0,3,0,0,4,9.84,14.395,81,0.0,1,0,2011
1,3,0,0,4,9.02,13.635,80,0.0,1,1,2011
2,3,0,0,4,9.02,13.635,80,0.0,1,2,2011
3,3,0,0,4,9.84,14.395,75,0.0,1,3,2011
4,3,0,0,4,9.84,14.395,75,0.0,1,4,2011
...,...,...,...,...,...,...,...,...,...,...,...
9073,4,0,0,2,111.00,110.000,25,225.0,156,14,2011
9074,1,0,0,1,-48.00,-55.000,39,110.0,332,15,2011
9075,1,0,0,2,-110.00,-108.000,10,110.0,361,9,2011
9076,1,0,0,1,-48.00,-55.000,57,110.0,331,12,2011
9077,1,0,0,1,-500.00,-55.000,84,110.0,2,16,2012

In [219]:
df = pd.read_csv('test.csv')
del df['Unnamed: 0']

r = requests.post(url='http://127.0.0.1:8000/predict/xgboost/all', data=(json.dumps(convert1(df[:3]))))
print(r.json())

[18, 38, 29]

In [189]:
print('{"data": {"0": {"season": 1, "holiday": 1, "workingday": 1, "weather": 1, "temp": 20, "atemp": 15, "humidity": 15, "windspeed": 20, "day": 88, "hour": 16, "year": 2011}, "1": {"season": 1, "holiday": 1, "workingday": 1, "weather": 1, "temp": 19, "atemp": 20, "humidity": 15, "windspeed": 20, "day": 88, "hour": 9, "year": 2012}}}')

{"data": {"0": {"season": 1, "holiday": 1, "workingday": 1, "weather": 1, "temp": 20, "atemp": 15, "humidity": 15, "windspeed": 20, "day": 88, "hour": 16, "year": 2011}, "1": {"season": 1, "holiday": 1, "workingday": 1, "weather": 1, "temp": 19, "atemp": 20, "humidity": 15, "windspeed": 20, "day": 88, "hour": 9, "year": 2012}}}

In [171]:
savedmodel = open('./xgboost.pkl', 'rb')
model = pickle.load(savedmodel)
savedmodel.close()

In [1]:
a = [1,2,3]
len(a)

3

In [14]:
test_post = {"season":3.0,"holiday":0.0,"workingday":0.0,"weather":4.0,"temp":9.84,"atemp":14.395,"humidity":81.0,"windspeed":0.0,"count":16.0,"day":1.0,"hour":0.0,"year":2011.0}

df = pd.DataFrame(test_post, index=[0])
df

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,day,hour,year
0,3.0,0.0,0.0,4.0,9.84,14.395,81.0,0.0,16.0,1.0,0.0,2011.0

In [15]:
model.predict(df)

array([25.989832], dtype=float32)

In [195]:
import requests 
import json 

data = { "data" :  
  {
  "0" : {
  "season": 1,
  "holiday": 1,
  "workingday": 1,
  "weather": 1,
  "temp": 20,
  "atemp": 15,
  "humidity": 15,
  "windspeed": 20,
  "day": 88,
  "hour": 16,
  "year": 2011
}, "1" : {
  "season": 1,
  "holiday": 1,
  "workingday": 1,
  "weather": 1,
  "temp": 19,
  "atemp": 20,
  "humidity": 15,
  "windspeed": 20,
  "day": 88,
  "hour": 9,
  "year": 2012}}}

r = requests.post(url='http://127.0.0.1:8000/predict/xgboost/all', data=json.dumps(data))
print(r.json())

[148, 336]

In [76]:
json.dumps(data)

'{"data": {"0": {"season": 1, "holiday": 1, "workingday": 1, "weather": 1, "temp": 20, "atemp": 15, "humidity": 15, "windspeed": 20, "day": 88, "hour": 16, "year": 2011}, "1": {"season": 1, "holiday": 1, "workingday": 1, "weather": 1, "temp": 19, "atemp": 20, "humidity": 15, "windspeed": 20, "day": 88, "hour": 9, "year": 2012}}}'